extends layout

block content
h1= title 

-var herbs = [{herb_name: 'Lavender', scent: 'Sweet', medicinal_uses: 'Relaxation'}, {herb_name: 'Peppermint', scent: 'Minty', medicinal_uses: 'Digestion'},{herb_name: 'Chamomile', scent: 'Floral', medicinal_uses: 'Sleep aid'}]


div(class="container-fluid")
div(class="row")
     each h in herbs
         div(class="col-sm-2") #{h.herb_name}, #{h.scent}, #{h.medicinal_uses}


 

  
    


